# Exercise template directory...
x00/

# Generated directories...
public/assets/css/
public/assets/vendor/

# Configurations...
config*.js
!config*example.js

# Dev assets...
node_modules/
package-lock.json
